/* .carousel-caption-content {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
    color: #fff;
  } */
  
  .carousel-caption-content a {
    margin-right: 10px;
    color: #fff;
    text-decoration: underline;
  }
  .carousel-caption-content .custom-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff; /* White border */
    border-radius: 30px; /* Rounded corners */
    color: #ffffff; /* White text */
    background: transparent; /* Transparent background */
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .carousel-caption-content .custom-button:hover {
    background: rgba(255, 255, 255, 0.1); /* Slight hover effect */
    cursor: pointer;
  }
  
  .carousel-caption-content .custom-button::after {
    content: ' ➜'; /* Right arrow icon */
    font-size: 16px;
    margin-left: 5px;
  }
  .banner-container {
    text-align: center;
    padding: 50px 60px;
    line-height: 1.5;
  }
  
  .banner-heading {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner-subtext {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Space between cards */
    height: 600px;
    width: 80%;
    margin: 0 auto;

  }
  
  .card {
    position: relative;
    width: 80%;
    height: 100vh;
    overflow: hidden;
  
  }
  
  .background-image-1 {
    background-image: url("https://www-cdn.djiits.com/cms/uploads/f38f266692b595a128d7e5b0882aa809.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image-2 {
    background-image: url("https://www-cdn.djiits.com/cms/uploads/5f15ff70267539ab162246c7c296b290.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    color: #000;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    padding: 20px;
    /* border-radius: 10px; */
    height: 100%;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .content h2 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #666;
    padding-top: 20px;
  }
  
  .content button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }


    